@use "reset";
$font: var(--font);
$colorSoftBlue: var(--colorSoftBlue);
$colorCyan: var(--colorCyan);
$colorMainBG: var(--colorMainBG);
$colorCardBG: var(--colorCardBG);
$colorVeryDarkBlue: var(--colorVeryDarkBlue);
$colorWhite: var(--colorWhite);
:root {
  --font: "Outfit", sans-serif;
  --colorSoftBlue: hsl(215, 51%, 70%);
  --colorCyan: hsl(178, 100%, 50%);
  --colorMainBG: hsl(217, 54%, 11%);
  --colorCardBG: hsl(216, 50%, 16%);
  --colorVeryDarkBlue: hsl(215, 32%, 27%);
  --colorWhite: hsl(0, 0%, 100%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  font-size: 18px;
  height: 100vh;
  background-color: $colorMainBG;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 600px;
  padding: 25px;
  border-radius: 15px;
  background-color: $colorCardBG;
  h1 {
    color: $colorWhite;
    font-size: 25px;
    font-weight: 600;
  }
}
.equilibriumImg {
  max-width: 100%;
  border-radius: 10px;
}
.subTitle {
  color: $colorVeryDarkBlue;
}
.IconsContainer {
  display: flex;
  justify-content: space-between;
}
.IconContainer {
  display: flex;
  align-items: center;
  p {
    margin-left: 6px;
  }
}
.cost {
  color: $colorCyan;
}
.day {
  color: $colorVeryDarkBlue;
}
.line {
  height: 1px;
  background-color: $colorVeryDarkBlue;
}
.avatar {
  width: 35px;
  height: 35px;
  border: 1px solid $colorWhite;
  border-radius: 50%;
}
.name {
  color: $colorVeryDarkBlue;
  span {
    color: $colorWhite;
  }
}
